# PostgreSQL
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=local_postgres_password
POSTGRES_DB=twitch_monitor

# RabbitMQ
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_MANAGEMENT_PORT=15672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

# Kafka
SPRING_KAFKA_PORT=9092

# Redis
SPRING_DATA_REDIS_PORT=6379

