# ENV example для local разработки
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432

# RabbitMQ
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=0000
SPRING_RABBITMQ_USERNAME=name
SPRING_RABBITMQ_PASSWORD=password

# Kafka
SPRING_KAFKA_PORT=port

# Redis
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=port

# App
#SERVER_PORT=8000
JWT_SECRET=secret

#MONITORING_PORT=9000
METRICS_AUTH_USERNAME=prometheus
METRICS_AUTH_PASSWORD=strong_password

alloy_twitch=fhfghfgh
