HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Мои ###
application.properties

#Logs
*.log

*.env
.env
.env.local
.env.local-infra

/front/

*.gz

prometheus.yml
docker-compose.metrics.backend.yml
docker-compose.metrics.twitch.yml
/monitoring/
/octopusService/src/main/resources/static/images/octopus/1.png
/octopusService/src/main/resources/static/images/octopus/2.png
/octopusService/src/main/resources/static/images/octopus/3.png
/octopusService/src/main/resources/static/images/octopus/4.png
/octopusService/src/main/resources/static/images/octopus/5.png
/octopusService/src/main/resources/static/images/octopus/6.png
/docs/ARCHITECTURE_ROADMAP.md
/sql/bootstrap_octopus_test_data_for_user.sql
/docs/FRONTEND_POKEMON_TO_OCTOPUS.md
/sql/grant_all_octopus_meta_to_user.sql
/docs/octopus_db_seeding_best_practices.md
/docs/octopus_minigame.appdiagram
/docs/OCTOPUS_MINIGAME_PLAN.md
/sql/octopus_seed_all_test_tables.sql
/sql/pokemon.sql
/auth/README.md
/common/README.md
/docs/assets/README.md
/docs/README.md
/octopusService/src/main/resources/static/images/items/README.md
/octopusService/src/main/resources/static/images/octopus/README.md
/octopusService/src/main/resources/static/images/skills/README.md
/profile/README.md
/testApi/README.md
/twitchService/README.md
/wallet/README.md
/sql/seed_octopus_items.sql
/sql/seed_octopus_skills.sql
/docs/WALLET_AND_POKEMON_TECHNICAL_OVERVIEW.md
/octopusService/src/main/resources/static/images/items/Архив ZIP - WinRAR.zip
