spring:
  application:
    name: twitchService

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/twitch_monitor
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    servlet:
      path: /api/v1

  cache:
    type: redis

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

server:
  port: ${SERVER_PORT}

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    cersei.twitchservice: DEBUG
  file:
    name: logs/twitchservice.log
